
@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

/*main*/
@media screen and (max-width: 480px) {
	.heading {
	width: 100%;
	height: auto;
	}
}

.content {
	padding: 5%;
  	margin: 0 auto;
	text-align: center;
	background-color: #141414;
	color: #cecece;
}

.experienceboxes {
	
}

.experience {
	font-size: 20px;
}

.box1 {
	width: 30%;
	float: left;
	margin-left: 10%;

}

.box2 {
	width: 30%;
	float: right;
	margin-right: 10%;
}

.experienceboxes:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 480px) {
	.box1 {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	.box2 {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	}
}

/*portfolio*/
.portfolio {
	padding: 5%;
  	margin: 0 auto;
	text-align: center;
	background-color: #9d9d9d;
	padding: 1%;
}

.portfolioheading {
	color: #141414;
}

.projects {
	padding-top: 40px;
	color: #141414;
}
 /*buttons*/
.blogbutton {
	width: auto;
	padding-bottom: 75px;
}

.allcontent {
	height: 100%;
	width: 100%;
	text-align: center;
}
.header-text {
	height: auto;
}

h1 {
	padding-top: 100px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 100px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	padding-top: 100px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	line-height: 100px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	margin-bottom: 40px;
	font-family: "Tahoma", serif;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
h4 {
	margin-bottom: 20px;
	font-family: "Tahoma", serif;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 400;
	text-align: center;
	text-transform: uppercase; 
}

@media screen and (max-width: 480px) {
	#id.title {
	  display: block;
	  width: 100%;
	  text-align: center;
	}
}

.title {
	font-family:'Lato', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
}

.flash {
	margin-top: 50px;
}

/*buttons*/
.blogbtn {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: black;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.blogbtn:hover {
	border: .2em solid white;
	color: black;
	background-color: white;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.button {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

.button:hover {
	border: .2em solid white;
	color: black;
	background-color: white;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.deletebtn {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}


.deletebtn:hover {
	border: .2em solid white;
	color: red;
	background-color: white;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.glyphicon {
	background-color: #141414;
	color: white;
	border-color: #141414;

}

/*bars*/
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #141414;
	color: white;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.navbar {
	margin-bottom: 0px;
	background: #141414;
	color: #cecece;	
}

.navbar a {
	color: #cecece;
	text-decoration: none;	
}
.navbar a:hover {
	background-color: #141414;
	color: #cecece;
}

.post {
	height: 200px;
	width: 100%;
	background-color: #cecece;
	margin: 20px;
	border-color: black;
	border: 2px;
	border-style: solid;
}

@media screen and (max-width: 480px) {
	.post {
	width: 90%;
	height: 200px;
	}
}

.posttitle {
	margin: 50px;
	font-size: 2em;
}

.newpost {
	width: 70%;
	min-height: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 480px) { 
	.newpost {
	margin-top: 20px;
	width: 90%;
	min-height: 100%;
	}
}

.show {
	margin-top: 100px;
	padding-top: 100px;
	display: block;
	margin: 0 auto;
	width: 600px;
	border: 10px solid gray;
	background-color: white;
}

.alert {
	margin-bottom: 0px;
}

.formtitles {
	color: white;
}