body {
  background-image: url("../img/rocks.jpg"); 
  background-size: cover;
  background-attachment: fixed; 
}
#background {
	background-image: url("../img/blueback.png");
	padding-top: 85px;
	padding-bottom: 20px;
	position: relative;
	}
		a:link {
	 		color:black;
		} a:visited {
 			color:black;
		} a:hover {
 			color:purple;
 		} a:active {
			color: green;
		}
		.center {
			text-align: center;
		}
	}

/* Portfolio */
.box {
	width: 300px;
	height: 300px;
	/*border: solid black 1px;*/
	float: left;
}