
@import url(//fonts.googleapis.com/css?family=Lato:700);

/*main*/
@media screen and (max-width: 480px) {
	.heading {
	width: 100%;
	height: auto;
	}
}

.header-text {
	height: auto;
}

h1, h2 {
	padding-top: 100px;
	color: rgba(255, 255, 255, 0.8);
	font-size: 48px;
	line-height: 100px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 580px)
#id.title {
  display: block;
  width: 100%;
  text-align: center;
}

.title {
	font-family:'Lato', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 20px;
}
.flash {
	margin-top: 50px;
}

.blogbtn {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: black;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.blogbtn:hover {
	border: .2em solid white;
	color: black;
	background-color: white;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

/*buttons*/
.button {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

.button:hover {
	border: .2em solid white;
	color: black;
	background-color: white;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.deletebtn {
	font-size: 1.2em;
	padding: .6em;
	border: .2em solid #000;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	text-decoration: none;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}


.deletebtn:hover {
	border: .2em solid white;
	color: red;
	background-color: white;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms; 
}

.glyphicon {
	background-color: #141414;
	color: white;
	border-color: #141414;

}

.content {
	display: block;
	padding: 40px 0;
	color: black;
	background-color: #cecece; 
}

/*bars*/
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: #141414;
	color: white;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.navbar {
	margin-bottom: 0px;
	background: #141414;
	color: #cecece;	
}

.navbar a {
	color: #cecece;
	text-decoration: none;	
}
.navbar a:hover {
	background-color: #141414;
	color: #cecece;
}

.post {
	height: 200px;
}

.posttitle {
	margin-bottom: 50px;
	font-size: 2em;
}

.show {
	margin-top: 100px;
	padding-top: 100px;
	display: block;
	margin: 0 auto;
	width: 600px;
	border: 10px solid gray;
	background-color: white;
}

.alert {
	margin-bottom: 0px;
}

.formtitles {
	color: white;
}

/*parallax*/
section.parallax:last-child {
	margin-bottom: 0;
}
section.parallax h2 {
	margin-bottom: 40px;
	font-family: "Tahoma", serif;
	font-size: 30px;
}

h3 {
	margin-bottom: 40px;
	font-family: "Tahoma", serif;
	font-size: 30px;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #000000;
}

section.parallax p {
	margin-bottom: 40px;
	font-size: 16px;
	font-weight: 300;
}

